@media only screen and (min-width: 320px) and (max-width: 575px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 20px 15px; }
.section-heading > h1 { font-size: 3rem; margin-bottom: 30px; }
.section-heading > h2 { font-size: 2.7rem; margin-bottom: 20px; }
.section-heading > h2 > span { display: inline; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { display: none; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { overflow: hidden; }
.banner-social-media-acc { display: none; }
.box-banner-image > img { margin-bottom: 30px; width: 100%; }
.box-banner-image-small-heart { left: -10px; }
.box-banner-image-large-heart { right: -10px; }
.box-banner-image-thumbs-up { bottom: 20px; left: -10px; }
@keyframes thumbsUpAnimation {
  0% { bottom: 20px; }
  50% { bottom: 40px; }
  100% { bottom: 20px; }
}
.banner-info > p { margin-bottom: 20px; }
.banner-info > .btn-primary { margin-bottom: 30px; }

  /*------- Banner Section Ends -------*/

  /*------- Who We Are Section Starts -------*/

.bg-who-we-are { position: relative; z-index: 1; }
.who-we-are-image > img { margin-bottom: 30px; }
.who-we-are-info > p { margin-bottom: 16px; }
.who-we-are-info > p:last-of-type { margin-bottom: 20px; }

  /*------- Who We Are Section Ends -------*/

  /*------- Our Services Section Starts -------*/

.our-services-info > p,
.completed-work-info { margin-bottom: 20px; }
.completed-work-info > div > img { margin-right: 20px; width: 70px; }
.completed-work-info > div > p { font-size: 2rem; }
.completed-work-info > div > h2 { font-size: 5rem; }
.box-services-column-1 { margin: 30px 0 0; }
.box-services-column-1 ~ .box-services,
.box-services-column-2 ~ .box-services { margin: 0; }
.box-services-column-2 { margin: 0; }
.box-services > .box-services-info > h4 { font-size: 1.8rem; }

  /*------- Our Services Section Ends -------*/

  /*------- Our Highlights Section Starts -------*/

.bg-our-highlights { padding-bottom: 0; }
.box-highlights-center-image { display: none; }
.our-highlights-section-heading > h2 { margin-bottom: 30px; }
.box-highlights { margin-bottom: 30px; }
.box-highlights-left > .box-highlights-info { padding-left: 10px; }
.box-highlights-left > .box-highlights-info > p,
.box-highlights-right > .box-highlights-info > p { font-size: 1.8rem; }
.box-highlights-right > .box-highlights-info > p { padding-left: 10px; }
.box-highlights-right { flex-direction: row-reverse; float: left; }

  /*------- Our Highlights Section Ends -------*/

  /*------- Industry Section Starts -------*/

.bg-industry { padding-bottom: 0; }
.box-industry { margin-bottom: 20px; padding: 35px 30px; }
.box-industry-info > h4 { font-size: 2rem; }
.box-industry-info > p { display: block; }
.industry-info > p { margin-bottom: 30px; }
.box-circular-progress-bar { margin-bottom: 20px; }

  /*------- Industry Section Ends -------*/

  /*------- Technologies Section Starts -------*/

.bg-technologies { padding-bottom: 0; }
.box-technologies-shape { opacity: 0.1; }
.technologies-info > p { margin-bottom: 20px; }

    /*------- Vertical Tab CSS Starts -------*/

.tab-listing-relative { margin-bottom: 40px; }
.tab-listing > li { margin-bottom: 20px; }

    /*------- Vertical Tab CSS Ends -------*/

  /*------- Technologies Section Ends -------*/

  /*------- Case Study Section Starts -------*/

.box-case-study-info > h3 { font-size: 2.4rem; }
.box-case-study-info > h4 { font-size: 1.6rem; }

    /*------- Case Study Slider Dots CSS Starts -------*/

.case-study-slider .slick-dots { margin-top: 30px; position: static; }
.case-study-slider .slick-dots li,
.case-study-slider .slick-dots li button { height: 70px; width: 100px; }
.case-study-slider .slick-dots li { margin-bottom: 20px; }

    /*------- Case Study Slider Dots CSS Ends -------*/

.box-case-study-desc > h4 { font-size: 2rem; }
.box-case-study-desc > p,
.box-case-study-results-listing,
.box-case-study-tech-use { margin-bottom: 20px; }

  /*------- Case Study Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.testimonial-image { margin-bottom: 20px; text-align: center; }
.testimonial-image > img { width: 100%; }
.testimonial-slider-container .swiper-slide { padding: 0 5px; }
.testimonial-info > h4 { font-size: 2rem; }
.testimonial-info > p { margin-bottom: 20px; }
.testimonial-ratings-listing { margin-top: 15px; }

    /*------- Swiper Slider Arrow CSS Starts -------*/

.testimonial-slider-container .swiper-button-prev { left: 10%; }
.testimonial-slider-container .swiper-button-next { right: 10%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Testimonials Section Ends -------*/

  /*------- Contact Us Section Starts -------*/

.contact-us-info > p,
.contact-us-listing { margin-bottom: 20px; }
.contact-us-listing > li { margin-right: 0; }
.banner-contact-social-media-acc-listing { display: block; margin-bottom: 20px; }
.banner-contact-social-media-acc-listing > li:not(:first-child),
.banner-contact-social-media-acc-listing > li:not(:nth-child(2)) { display: inline-block; margin-right: 10px; }
.banner-contact-social-media-acc-listing > li:first-child { display: block; margin: 0 0 20px 0; }
.banner-contact-social-media-acc-listing > li:nth-child(2) { display: none; }
.banner-contact-social-media-acc-listing > li:last-child { margin-right: 0; }
.box-contact-us { -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; padding: 20px; }
.box-contact-us-heading > h4 { font-size: 1.8rem; margin-bottom: 20px; }

  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a { margin-bottom: 20px; }
.footer-desc > p { margin-bottom: 20px; padding-right: 0; }
.quick-links-listing,
.footer-social-listing,
.footer-contact-listing { margin-bottom: 20px; }
.footer-heading > h4 { font-size: 2rem; margin-bottom: 20px; }
.quick-links-listing > li { margin-bottom: 15px; }
.footer-bottom-line-1 { margin: 0 0 20px 0; }
.footer-bottom-line-2 { margin: 20px 0; }
.copyright-info > p { margin-bottom: 15px; text-align: center; }
.extra-pages-listing { display: block; text-align: center; }
.extra-pages-listing > li { margin: 0 0 10px 0; }
.extra-pages-listing > li:last-child { margin: 0; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Banner Section Starts -------*/

.bg-banner-ip { overflow: hidden; }
.banner-info-ip { width: 100%; }
.btn-primary-read-more-banner-ap { margin-top: 20px; }

  /*------- Banner Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.why-choose-us-image > img,
.digital-excellence-info > p,
.digital-excellence-info,
.why-choose-us-info > p { margin-bottom: 20px; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- Mission and Vision Section Starts -------*/

.mission-heading-desc { padding-right: 0; }
.vision-heading-desc { padding-left: 0; }
.mission-vision-image > img,
.mission-vision-info { margin-bottom: 20px; }

  /*------- Mission and Vision Section Ends -------*/

  /*------- Values Section Starts -------*/

.values-section-heading > p,
.box-values-choose-us { margin-bottom: 20px; }
.box-values-choose-us { padding: 20px; }

  /*------- Values Section Ends -------*/

  /*------- Owner Message Section Starts -------*/

.box-owner-message-shape { display: none; }
.owner-message-image > img { margin-bottom: 20px; width: 100%; }
.owner-message-info > p:last-of-type { margin-bottom: 30px; }

  /*------- Owner Message Section Ends -------*/

  /*------- Team Section Starts -------*/

.our-team-heading-desc { width: 100%; }
.our-team-section-heading > p { margin-bottom: 20px; }

    /*------- Swiper Slider Dots CSS Starts -------*/

.team-slider-container .swiper-pagination-bullets { margin-top: 60px; visibility: hidden; }

		/*------- Swiper Slider Dots CSS Ends -------*/

    /*------- Swiper Slider Arrow CSS Starts -------*/

.team-slider-container .swiper-button-prev { left: 25%; }
.team-slider-container .swiper-button-next { right: 25%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Team Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Services Page Starts -------*/

  /*------- Banner Section Starts -------*/

.banner-image-sp > img { margin-bottom: 20px; }

  /*------- Banner Section Ends -------*/

  /*------- Information Section Starts -------*/

.services-image-sp > img,
.services-info-sp > p { margin-bottom: 20px; }

  /*------- Information Section Ends -------*/

  /*------- Maintenance Approach Section Starts -------*/

.box-maintenance-approach { padding: 20px; }
.box-maintenance-approach > h4 { font-size: 2rem; margin-bottom: 15px; }

  /*------- Maintenance Approach Section Ends -------*/

  /*------- Key Elements Section Starts -------*/

.bg-key-elements { padding: 20px 15px 0; }
.key-elements-info > p,
.key-elements-image > img,
.box-key-elements { margin-bottom: 20px; }
.box-key-elements > .box-key-elements-info > h4 { font-size: 2rem; }

  /*------- Key Elements Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.bg-why-choose-us-sp { padding: 20px 15px 0; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- Extra Information Section Starts -------*/

.extra-info-sp > svg { margin-bottom: 20px; }
.extra-info-sp > p { width: 100%; }

  /*------- Extra Information Section Ends -------*/

  /*------- SDLC Process Section Starts -------*/

.bg-sdlc-process { padding: 20px 15px 0; }
.sdlc-process-info > p { margin-bottom: 20px; }
.box-sdlc-process { margin-bottom: 20px; padding: 20px; }
.box-sdlc-process > h4 { font-size: 2rem; }

  /*------- SDLC Process Section Ends -------*/

  /*------- Benefits Section Starts -------*/

.bg-benefits { padding: 20px 15px 0; }
.box-benefits { margin-bottom: 20px; padding: 20px; }
.box-benefits > img { margin-bottom: 20px; }
.box-benefits > h4 { font-size: 2rem; }

  /*------- Benefits Section Ends -------*/

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Starts -------*/

.bg-digital-internet-marketing-banner-ip,
.bg-graphic-designing-banner-ip,
.bg-domain-hosting-banner-ip { padding: 20px 15px 0; }
.portal-services-image-sp > img,
.mobile-app-services-image-sp > img { margin-bottom: 20px; }
.web-enterprise-portal-section-heading > h2,
.mobile-app-section-heading > h2,
.digital-marketing-section-heading > h2 { margin-bottom: 10px; }
.services-info-sp > p:last-child,
.graphic-designing-services-listing > li:last-child { margin-bottom: 20px; }
.digital-marketing-info-sp,
.graphic-designing-info-sp,
.domain-hosting-info-sp { margin-top: 10px; }
.graphic-designing-services-listing > li { line-height: 1.4; }
.graphic-designing-services-listing > li::before { top: 7px; }

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Ends -------*/

/*------- Services Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Map Section Starts -------*/

.bg-contact-map { padding: 0; }

  /*------- Map Section Ends -------*/

  /*------- FAQ Section Starts -------*/

.faq-heading-desc { margin: 0 auto 20px; width: 100%; }
.faq-accordion-default > .faq-accordion-heading { margin-top: 20px; padding: 20px 30px 20px 20px; }
.faq-accordion-default > .faq-accordion-heading + .faq-accordion-body { padding: 20px; }
.faq-accordion-right { margin-top: 20px; }

  /*------- FAQ Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 30px 15px; }
.section-heading > h1 { font-size: 3rem; margin-bottom: 30px; }
.section-heading > h2 { font-size: 2.7rem; margin-bottom: 20px; }
.section-heading > h2 > span { display: inline; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { display: none; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { overflow: hidden; }
.banner-social-media-acc { display: none; }
.box-banner-image > img { margin-bottom: 30px; width: 100%; }
.box-banner-image-small-heart { left: -10px; }
.box-banner-image-large-heart { right: -10px; }
.box-banner-image-thumbs-up { bottom: 20px; left: -10px; }
@keyframes thumbsUpAnimation {
  0% { bottom: 20px; }
  50% { bottom: 40px; }
  100% { bottom: 20px; }
}
.banner-info > p { margin-bottom: 20px; }
.banner-info > .btn-primary { margin-bottom: 30px; }

  /*------- Banner Section Ends -------*/

  /*------- Who We Are Section Starts -------*/

.bg-who-we-are { position: relative; z-index: 1; }
.who-we-are-image > img { margin-bottom: 30px; }
.who-we-are-info > p { margin-bottom: 16px; }
.who-we-are-info > p:last-of-type { margin-bottom: 20px; }

  /*------- Who We Are Section Ends -------*/

  /*------- Our Services Section Starts -------*/

.our-services-info > p,
.completed-work-info { margin-bottom: 20px; }
.completed-work-info > div > img { margin-right: 20px; width: 70px; }
.completed-work-info > div > p { font-size: 2rem; }
.completed-work-info > div > h2 { font-size: 5rem; }
.box-services-column-1,
.box-services-column-2 { margin: 30px 0 0; }
.box-services-column-1 ~ .box-services,
.box-services-column-2 ~ .box-services { margin: 0; }
.box-services > .box-services-info > h4 { font-size: 1.8rem; }

  /*------- Our Services Section Ends -------*/

  /*------- Our Highlights Section Starts -------*/

.bg-our-highlights { padding-bottom: 0; }
.box-highlights-center-image { display: none; }
.our-highlights-section-heading > h2 { margin-bottom: 30px; }
.box-highlights { margin-bottom: 30px; }
.box-highlights-left > .box-highlights-info { padding-left: 10px; }
.box-highlights-left > .box-highlights-info > p,
.box-highlights-right > .box-highlights-info > p { font-size: 1.8rem; }
.box-highlights-right > .box-highlights-info > p { padding-left: 10px; }
.box-highlights-right { flex-direction: row-reverse; float: left; }

  /*------- Our Highlights Section Ends -------*/

  /*------- Industry Section Starts -------*/

.bg-industry { padding-bottom: 0; }
.box-industry { margin-bottom: 30px; padding: 30px 20px; }
.box-industry-info > h4 { font-size: 2rem; }
.box-industry-info > p { display: block; }
.industry-info > p { margin-bottom: 30px; }
.box-circular-progress-bar { margin-bottom: 20px; }
.box-circular-progress-bar-info > p { font-size: 2rem; }

  /*------- Industry Section Ends -------*/

  /*------- Technologies Section Starts -------*/

.bg-technologies { padding-bottom: 0; }
.box-technologies-shape { opacity: 0.1; }
.technologies-info > p { margin-bottom: 20px; }

    /*------- Vertical Tab CSS Starts -------*/

.tab-listing-relative { margin-bottom: 40px; }
.tab-listing > li { margin-bottom: 20px; }

    /*------- Vertical Tab CSS Ends -------*/

  /*------- Technologies Section Ends -------*/

  /*------- Case Study Section Starts -------*/

.box-case-study-info > h3 { font-size: 2.4rem; }
.box-case-study-info > h4 { font-size: 1.6rem; }

    /*------- Case Study Slider Dots CSS Starts -------*/

.case-study-slider .slick-dots { margin-top: 30px; position: static; }
.case-study-slider .slick-dots li,
.case-study-slider .slick-dots li button { height: 70px; width: 100px; }
.case-study-slider .slick-dots li { margin-bottom: 20px; }

    /*------- Case Study Slider Dots CSS Ends -------*/

.box-case-study-desc > h4 { font-size: 2rem; }
.box-case-study-desc > p,
.box-case-study-results-listing,
.box-case-study-tech-use { margin-bottom: 20px; }

  /*------- Case Study Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.testimonial-slider-container .swiper-slide { padding: 0 5px; }
.testimonial-info > h4 { font-size: 2rem; }
.testimonial-info > p { margin-bottom: 20px; }
.testimonial-ratings-listing { margin-top: 15px; }

    /*------- Swiper Slider Arrow CSS Starts -------*/

.testimonial-slider-container .swiper-button-prev { left: 25%; }
.testimonial-slider-container .swiper-button-next { right: 25%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Testimonials Section Ends -------*/

  /*------- Contact Us Section Starts -------*/

.contact-us-info > p,
.contact-us-listing { margin-bottom: 20px; }
.contact-us-listing > li { margin-right: 0; }
.banner-contact-social-media-acc-listing { display: block; margin-bottom: 30px; }
.banner-contact-social-media-acc-listing > li:not(:first-child),
.banner-contact-social-media-acc-listing > li:not(:nth-child(2)) { display: inline-block; margin-right: 10px; }
.banner-contact-social-media-acc-listing > li:first-child { display: block; margin: 0 0 20px 0; }
.banner-contact-social-media-acc-listing > li:nth-child(2) { display: none; }
.banner-contact-social-media-acc-listing > li:last-child { margin-right: 0; }
.box-contact-us { -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; padding: 20px; }
.box-contact-us-heading > h4 { font-size: 1.8rem; margin-bottom: 20px; }
.box-contact-us-radio-listing > label { margin: 0 10px 15px 0; }

  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a { margin-bottom: 20px; }
.footer-desc > p { margin-bottom: 20px; padding-right: 0; }
.quick-links-listing,
.footer-social-listing,
.footer-contact-listing { margin-bottom: 30px; }
.footer-heading > h4 { font-size: 2rem; margin-bottom: 20px; }
.quick-links-listing > li { margin-bottom: 15px; }
.footer-bottom-line-1 { margin: 0 0 20px 0; }
.footer-bottom-line-2 { margin: 0 0 30px; }
.copyright-info > p { margin-bottom: 15px; text-align: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Banner Section Starts -------*/

.bg-banner-ip { overflow: hidden; }
.banner-info-ip { width: 100%; }
.btn-primary-read-more-banner-ap { margin-top: 20px; }

  /*------- Banner Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.why-choose-us-image > img,
.digital-excellence-info > p,
.digital-excellence-info,
.why-choose-us-info > p { margin-bottom: 20px; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- Mission and Vision Section Starts -------*/

.bg-mission-vision { padding-bottom: 0; }
.mission-heading-desc { padding-right: 0; }
.vision-heading-desc { padding-left: 0; }
.mission-vision-image > img,
.mission-vision-info { margin-bottom: 20px; }

  /*------- Mission and Vision Section Ends -------*/

  /*------- Values Section Starts -------*/

.values-section-heading > p,
.box-values-choose-us { margin-bottom: 20px; }
.box-values-choose-us { padding: 20px; }

  /*------- Values Section Ends -------*/

  /*------- Owner Message Section Starts -------*/

.box-owner-message-shape { display: none; }
.owner-message-image > img { margin-bottom: 20px; width: 100%; }
.owner-message-info > p:last-of-type { margin-bottom: 30px; }

  /*------- Owner Message Section Ends -------*/

  /*------- Team Section Starts -------*/

.our-team-heading-desc { width: 100%; }
.our-team-section-heading > p { margin-bottom: 30px; }

    /*------- Swiper Slider Dots CSS Starts -------*/

.team-slider-container .swiper-pagination-bullets { margin-top: 70px; }

		/*------- Swiper Slider Dots CSS Ends -------*/

    /*------- Swiper Slider Arrow CSS Starts -------*/

.team-slider-container .swiper-button-prev { left: 15%; }
.team-slider-container .swiper-button-next { right: 15%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Team Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Services Page Starts -------*/

  /*------- Banner Section Starts -------*/

.banner-image-sp > img { margin-bottom: 20px; }

  /*------- Banner Section Ends -------*/

  /*------- Information Section Starts -------*/

.bg-services-info-sp { padding-bottom: 0; }
.services-image-sp > img,
.services-info-sp > p { margin-bottom: 20px; }

  /*------- Information Section Ends -------*/

  /*------- Maintenance Approach Section Starts -------*/

.box-maintenance-approach { padding: 20px; }
.box-maintenance-approach > h4 { font-size: 2rem; margin-bottom: 15px; }

  /*------- Maintenance Approach Section Ends -------*/

  /*------- Key Elements Section Starts -------*/

.bg-key-elements { padding: 20px 15px 0; }
.key-elements-info > p,
.key-elements-image > img,
.box-key-elements { margin-bottom: 20px; }
.box-key-elements > .box-key-elements-info > h4 { font-size: 2rem; }

  /*------- Key Elements Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.bg-why-choose-us-sp { padding: 20px 15px 0; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- Extra Information Section Starts -------*/

.extra-info-sp > svg { margin-bottom: 20px; }
.extra-info-sp > p { width: 100%; }

  /*------- Extra Information Section Ends -------*/

  /*------- SDLC Process Section Starts -------*/

.bg-sdlc-process { padding: 20px 15px 0; }
.sdlc-process-info > p { margin-bottom: 20px; }
.box-sdlc-process { margin-bottom: 20px; padding: 20px; }
.box-sdlc-process > h4 { font-size: 2rem; }

  /*------- SDLC Process Section Ends -------*/

  /*------- Benefits Section Starts -------*/

.bg-benefits { padding: 20px 15px 0; }
.box-benefits { margin-bottom: 20px; padding: 20px; }
.box-benefits > img { margin-bottom: 20px; }
.box-benefits > h4 { font-size: 2rem; }

  /*------- Benefits Section Ends -------*/

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Starts -------*/

.bg-digital-internet-marketing-banner-ip,
.bg-graphic-designing-banner-ip,
.bg-domain-hosting-banner-ip { padding: 20px 15px 0; }
.portal-services-image-sp > img,
.mobile-app-services-image-sp > img { margin-bottom: 20px; }
.web-enterprise-portal-section-heading > h2,
.mobile-app-section-heading > h2,
.digital-marketing-section-heading > h2 { margin-bottom: 10px; }
.services-info-sp > p:last-child,
.graphic-designing-services-listing > li:last-child { margin-bottom: 20px; }
.digital-marketing-info-sp,
.graphic-designing-info-sp,
.domain-hosting-info-sp { margin-top: 10px; }
.graphic-designing-services-listing > li { line-height: 1.4; }
.graphic-designing-services-listing > li::before { top: 7px; }

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Ends -------*/

/*------- Services Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Map Section Starts -------*/

.bg-contact-map { padding: 0; }

  /*------- Map Section Ends -------*/

  /*------- FAQ Section Starts -------*/

.faq-heading-desc { margin: 0 auto 20px; width: 100%; }
.faq-accordion-default > .faq-accordion-heading { margin-top: 20px; padding: 20px 30px 20px 20px; }
.faq-accordion-default > .faq-accordion-heading + .faq-accordion-body { padding: 20px; }
.faq-accordion-right { margin-top: 20px; }

  /*------- FAQ Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 30px 15px; }
.section-heading > h1 { font-size: 3.6rem; margin-bottom: 30px; }
.section-heading > h2 { font-size: 3rem; margin-bottom: 20px; }
.section-heading > h2 > span { display: inline; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { display: none; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { overflow: hidden; }
.banner-social-media-acc { bottom: 0; right: 30px; -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }
.banner-contact-social-media-acc-listing > li > span { font: 1.8rem/normal "PublicSans-Bold"; }
.box-banner-image-small-heart { left: -10px; }
.box-banner-image-large-heart { right: -10px; }
.box-banner-image-thumbs-up { bottom: 20px; left: -10px; }
@keyframes thumbsUpAnimation {
  0% { bottom: 20px; }
  50% { bottom: 40px; }
  100% { bottom: 20px; }
}
.banner-info > p { margin-bottom: 20px; }
.banner-info > .btn-primary { margin-bottom: 30px; }

  /*------- Banner Section Ends -------*/

  /*------- Who We Are Section Starts -------*/

.bg-who-we-are { padding-bottom: 0; }
.who-we-are-image > img { margin-bottom: 30px; }

  /*------- Who We Are Section Ends -------*/

  /*------- Our Services Section Starts -------*/

.our-services-info > p { margin-bottom: 40px; }
.completed-work-info > div > img { width: 100px; }
.completed-work-info > div > p { font-size: 2rem; }
.completed-work-info > div > h2 { font-size: 7rem; }
.box-services-column-1,
.box-services-column-2 { margin-top: 40px; }
.box-services { margin-bottom: 10px; }
.box-services > .box-services-info > h4 { font-size: 2rem; }

  /*------- Our Services Section Ends -------*/

  /*------- Our Highlights Section Starts -------*/

.bg-our-highlights { padding-bottom: 0; }
.box-highlights-center-image { display: none; }
.our-highlights-section-heading > h2 { margin-bottom: 30px; }
.box-highlights { margin-bottom: 30px; }
.box-highlights-left > .box-highlights-info > p,
.box-highlights-right > .box-highlights-info > p { font: 2rem/normal "Inter-Bold"; }

  /*------- Our Highlights Section Ends -------*/

  /*------- Industry Section Starts -------*/

.box-industry { padding: 30px 20px; }
.box-industry-info > h4 { font-size: 2.2rem; }
.industry-info > p { margin-bottom: 30px; }

  /*------- Industry Section Ends -------*/

  /*------- Technologies Section Starts -------*/

.bg-technologies { padding-bottom: 0; }
.box-technologies-shape { opacity: 0.2; }
.technologies-info > p { margin-bottom: 30px; }

    /*------- Vertical Tab CSS Starts -------*/

.tab-listing-relative { margin-bottom: 40px; }
.tab-listing > li { margin-bottom: 20px; }
.tab-listing > li > a { font-size: 2.2rem; }

    /*------- Vertical Tab CSS Ends -------*/

  /*------- Technologies Section Ends -------*/

  /*------- Case Study Section Starts -------*/

.box-case-study-info > h3 { font-size: 2.7rem; }
.box-case-study-info > h4 { font-size: 1.8rem; }

    /*------- Case Study Slider Dots CSS Starts -------*/

.case-study-slider .slick-dots { margin-top: 30px; position: static; }
.case-study-slider .slick-dots li,
.case-study-slider .slick-dots li button { height: 100px; width: 130px; }
.case-study-slider .slick-dots li { margin-bottom: 25px; }

    /*------- Case Study Slider Dots CSS Ends -------*/

.box-case-study-desc > h4 { font-size: 2.2rem; }

  /*------- Case Study Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.testimonial-slider-container .swiper-slide { padding: 0 5px; }
.testimonial-info > h4 { font-size: 2rem; }
.testimonial-info > p { margin-bottom: 20px; }

    /*------- Swiper Slider Arrow CSS Starts -------*/

.testimonial-slider-container .swiper-button-prev { left: 34%; }
.testimonial-slider-container .swiper-button-next { right: 34%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Testimonials Section Ends -------*/

  /*------- Contact Us Section Starts -------*/

.contact-us-info > p,
.contact-us-listing,
.banner-contact-social-media-acc-listing { margin-bottom: 30px; }
.contact-us-listing > li { margin-right: 0; }

  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a { margin-bottom: 20px; }
.footer-desc > p { margin-bottom: 20px; padding-right: 0; }
.quick-links-listing,
.footer-social-listing,
.footer-contact-listing { margin-bottom: 30px; }
.footer-heading > h4 { font-size: 2rem; margin-bottom: 20px; }
.quick-links-listing > li { margin-bottom: 15px; }
.footer-bottom-line-1 { margin: 0 0 20px 0; }
.footer-bottom-line-2 { margin: 0 0 30px; }
.copyright-info > p { margin-bottom: 15px; text-align: center; }
.extra-pages-listing { justify-content: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Banner Section Starts -------*/

.bg-banner-ip { overflow: hidden; }
.banner-info-ip { width: 100%; }
.btn-primary-read-more-banner-ap { margin-top: 20px; }

  /*------- Banner Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.why-choose-us-image > img,
.digital-excellence-info > p,
.digital-excellence-info,
.why-choose-us-info > p { margin-bottom: 20px; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- Mission and Vision Section Starts -------*/

.bg-mission-vision { padding-bottom: 0; }
.mission-heading-desc { padding-right: 0; }
.vision-heading-desc { padding-left: 0; }
.mission-vision-image > img,
.mission-vision-info { margin-bottom: 30px; }

  /*------- Mission and Vision Section Ends -------*/

  /*------- Values Section Starts -------*/

.bg-values { padding-bottom: 0; }
.values-section-heading > p,
.box-values-choose-us { margin-bottom: 30px; }
.box-values-choose-us { padding: 20px; }
.box-values-choose-us > h4 { font-size: 2.2rem; }

  /*------- Values Section Ends -------*/

  /*------- Owner Message Section Starts -------*/

.box-owner-message-shape { opacity: 0.1; }
.owner-message-image > img { margin-bottom: 20px; width: 100%; }
.owner-message-info > p:last-of-type { margin-bottom: 30px; }

  /*------- Owner Message Section Ends -------*/

  /*------- Team Section Starts -------*/

.our-team-heading-desc { width: 100%; }
.our-team-section-heading > p { margin-bottom: 30px; }
.box-team-info { padding: 20px 15px; }

    /*------- Swiper Slider Dots CSS Starts -------*/

.team-slider-container .swiper-pagination-bullets { margin-top: 70px; }

		/*------- Swiper Slider Dots CSS Ends -------*/

    /*------- Swiper Slider Arrow CSS Starts -------*/

.team-slider-container .swiper-button-prev { left: 25%; }
.team-slider-container .swiper-button-next { right: 25%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Team Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Services Page Starts -------*/

  /*------- Information Section Starts -------*/

.services-image-sp { text-align: center; }
.services-image-sp > img { margin-bottom: 30px; width: 70%; }
.services-info-sp > p { margin-bottom: 20px; }

  /*------- Information Section Ends -------*/

  /*------- Maintenance Approach Section Starts -------*/

.maintenance-approach-section-heading-sp > h2 { margin-bottom: 30px; }
.box-maintenance-approach > h4 { font-size: 2.2rem; }

  /*------- Maintenance Approach Section Ends -------*/

  /*------- Key Elements Section Starts -------*/

.bg-key-elements { padding-bottom: 10px; }
.box-key-elements { margin-bottom: 20px; }
.box-key-elements > .box-key-elements-info > h4 { font-size: 2rem; }

  /*------- Key Elements Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.bg-why-choose-us-sp { padding-bottom: 0; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- SDLC Process Section Starts -------*/

.mobile-android-app-info-sp,
.sdlc-process-info > p { margin-bottom: 30px; }
.box-sdlc-process { margin-bottom: 0; }
.box-sdlc-process > h4 { font-size: 2.2rem; }

  /*------- SDLC Process Section Ends -------*/

  /*------- Benefits Section Starts -------*/

.bg-benefits { padding-bottom: 0; }
.box-benefits > h4 { font-size: 2.2rem; }

  /*------- Benefits Section Ends -------*/

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Starts -------*/

.bg-digital-internet-marketing-banner-ip,
.bg-graphic-designing-banner-ip,
.bg-domain-hosting-banner-ip { padding-bottom: 0; }
.digital-marketing-info-sp,
.graphic-designing-info-sp,
.domain-hosting-info-sp { margin-top: 20px; }
.digital-marketing-info-sp > p:last-child,
.graphic-designing-info-sp > p:last-child,
.domain-hosting-info-sp > p:last-child,
.graphic-designing-services-listing > li:last-child { margin-bottom: 30px; }

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Ends -------*/

/*------- Services Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Map Section Starts -------*/

.bg-contact-map { padding: 0; }

  /*------- Map Section Ends -------*/

  /*------- FAQ Section Starts -------*/

.faq-heading-desc { margin: 0 auto 20px; width: 100%; }
.faq-accordion-default > .faq-accordion-heading { margin-top: 20px; padding: 20px 30px 20px 20px; }
.faq-accordion-default > .faq-accordion-heading + .faq-accordion-body { padding: 20px; }
.faq-accordion-right { margin-top: 20px; }

  /*------- FAQ Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 40px 15px; }
.section-heading > h1 { font-size: 3.6rem; margin-bottom: 30px; }
.section-heading > h2 { font-size: 3rem; margin-bottom: 20px; }
.section-heading > h2 > span { display: inline; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { display: none; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { overflow: hidden; }
.banner-social-media-acc { bottom: 0; right: 30px; -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }
.box-banner-image-small-heart { left: -10px; }
.box-banner-image-large-heart { right: -10px; }
.box-banner-image-thumbs-up { bottom: 20px; left: -10px; }
@keyframes thumbsUpAnimation {
  0% { bottom: 20px; }
  50% { bottom: 40px; }
  100% { bottom: 20px; }
}
.banner-info > p { margin-bottom: 20px; }
.banner-info > .btn-primary { margin-bottom: 30px; }

  /*------- Banner Section Ends -------*/

  /*------- Who We Are Section Starts -------*/

.bg-who-we-are { padding-bottom: 0; }
.who-we-are-image > img { margin-bottom: 30px; }

  /*------- Who We Are Section Ends -------*/

  /*------- Our Services Section Starts -------*/

.our-services-info > p { margin-bottom: 40px; }
.completed-work-info > div > img { width: 100px; }
.completed-work-info > div > p { font-size: 2rem; }
.completed-work-info > div > h2 { font-size: 7rem; }
.box-services { margin-bottom: 10px; }
.box-services > .box-services-info > h4 { font-size: 2rem; }

  /*------- Our Services Section Ends -------*/

  /*------- Our Highlights Section Starts -------*/

.bg-our-highlights { padding-bottom: 0; }
.our-highlights-section-heading > h2 { margin-bottom: 30px; }
.box-highlights { margin-bottom: 30px; }
.box-highlights-left > .box-highlights-info > p,
.box-highlights-right > .box-highlights-info > p { font-size: 2rem; }

  /*------- Our Highlights Section Ends -------*/

  /*------- Industry Section Starts -------*/

.bg-industry { padding-bottom: 0; }
.box-industry { padding: 30px 20px; }
.box-industry-info > h4 { font-size: 2.2rem; }
.industry-info > p { margin-bottom: 30px; }
.box-circular-progress-bar { margin-bottom: 30px; }

  /*------- Industry Section Ends -------*/

  /*------- Technologies Section Starts -------*/

.bg-technologies { padding-bottom: 0; }
.box-technologies-shape { opacity: 0.2; }
.technologies-info > p { margin-bottom: 30px; }

    /*------- Vertical Tab CSS Starts -------*/

.tab-listing-relative { margin-bottom: 40px; }
.tab-listing > li { margin-bottom: 20px; }
.tab-listing > li > a { font-size: 2.2rem; }

    /*------- Vertical Tab CSS Ends -------*/

  /*------- Technologies Section Ends -------*/

  /*------- Case Study Section Starts -------*/

.case-study-section-heading > h2 { margin-bottom: 40px; }
.box-case-study-info > h3 { font-size: 2.7rem; }
.box-case-study-info > h4 { font-size: 1.8rem; }

    /*------- Case Study Slider Dots CSS Starts -------*/

.case-study-slider .slick-dots { margin-top: 30px; position: static; }
.case-study-slider .slick-dots li,
.case-study-slider .slick-dots li button { height: 100px; width: 130px; }
.case-study-slider .slick-dots li { margin-bottom: 25px; }

    /*------- Case Study Slider Dots CSS Ends -------*/

.box-case-study-desc > h4 { font-size: 2.2rem; }

  /*------- Case Study Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.testimonial-slider-container .swiper-slide { padding: 0 5px; }
.testimonial-info > h4 { font-size: 2rem; }
.testimonial-info > p { margin-bottom: 20px; }
.testimonial-ratings-listing { margin-top: 15px; }

    /*------- Swiper Slider Arrow CSS Starts -------*/

.testimonial-slider-container .swiper-button-prev { left: 34%; }
.testimonial-slider-container .swiper-button-next { right: 34%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Testimonials Section Ends -------*/

  /*------- Contact Us Section Starts -------*/

.contact-us-info > p,
.contact-us-listing,
.banner-contact-social-media-acc-listing { margin-bottom: 30px; }
.contact-us-listing > li { margin-right: 0; }

  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a { margin-bottom: 20px; }
.footer-desc > p { margin-bottom: 20px; padding-right: 0; }
.quick-links-listing,
.footer-social-listing,
.footer-contact-listing { margin-bottom: 30px; }
.footer-heading > h4 { font-size: 2rem; margin-bottom: 20px; }
.quick-links-listing > li { margin-bottom: 15px; }
.footer-bottom-line-1 { margin: 0 0 30px 0; }
.footer-bottom-line-2 { margin: 0 0 30px; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Banner Section Starts -------*/

.bg-banner-ip { overflow: hidden; }
.banner-info-ip { width: 100%; }
.btn-primary-read-more-banner-ap { margin-top: 20px; }

  /*------- Banner Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.digital-excellence-info > p,
.digital-excellence-info,
.why-choose-us-info > p { margin-bottom: 30px; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- Mission and Vision Section Starts -------*/

.bg-mission-vision { padding-bottom: 0; }
.mission-heading-desc { padding-right: 0; }
.vision-heading-desc { padding-left: 0; }
.mission-vision-image > img,
.mission-vision-info { margin-bottom: 30px; }

  /*------- Mission and Vision Section Ends -------*/

  /*------- Values Section Starts -------*/

.bg-values { padding-bottom: 0; }
.values-section-heading > p,
.box-values-choose-us { margin-bottom: 30px; }
.box-values-choose-us { padding: 20px; }

  /*------- Values Section Ends -------*/

  /*------- Owner Message Section Starts -------*/

.box-owner-message-shape { display: none; }
.owner-message-image > img { width: 100%; }
.owner-message-info > p:last-of-type { margin-bottom: 30px; }

  /*------- Owner Message Section Ends -------*/

  /*------- Team Section Starts -------*/

.our-team-heading-desc { width: 100%; }
.our-team-section-heading > p { margin-bottom: 30px; }

    /*------- Swiper Slider Dots CSS Starts -------*/

.team-slider-container .swiper-pagination-bullets { margin-top: 70px; }

		/*------- Swiper Slider Dots CSS Ends -------*/

    /*------- Swiper Slider Arrow CSS Starts -------*/

.team-slider-container .swiper-button-prev { left: 30%; }
.team-slider-container .swiper-button-next { right: 30%; }

    /*------- Swiper Slider Arrow CSS Ends -------*/

  /*------- Team Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Services Page Starts -------*/

  /*------- Information Section Starts -------*/

.services-image-sp { text-align: center; }
.services-info-sp > p { margin-bottom: 20px; }

  /*------- Information Section Ends -------*/

  /*------- Maintenance Approach Section Starts -------*/

.maintenance-approach-section-heading-sp > h2 { margin-bottom: 30px; }
.box-maintenance-approach > h4 { font-size: 2.2rem; }

  /*------- Maintenance Approach Section Ends -------*/

  /*------- Key Elements Section Starts -------*/

.bg-key-elements { padding-bottom: 10px; }
.box-key-elements { margin-bottom: 20px; }
.box-key-elements > .box-key-elements-info > h4 { font-size: 2rem; }

  /*------- Key Elements Section Ends -------*/

  /*------- Why Choose Us Section Starts -------*/

.bg-why-choose-us-sp { padding-bottom: 0; }

  /*------- Why Choose Us Section Ends -------*/

  /*------- SDLC Process Section Starts -------*/

.mobile-android-app-info-sp,
.sdlc-process-info > p { margin-bottom: 30px; }
.box-sdlc-process { margin-bottom: 0; }
.box-sdlc-process > h4 { font-size: 2.2rem; }

  /*------- SDLC Process Section Ends -------*/

  /*------- Benefits Section Starts -------*/

.bg-benefits { padding-bottom: 0; }
.box-benefits > h4 { font-size: 2.2rem; }

  /*------- Benefits Section Ends -------*/

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Starts -------*/

.bg-digital-internet-marketing-banner-ip,
.bg-graphic-designing-banner-ip,
.bg-domain-hosting-banner-ip { padding-bottom: 0; }
.digital-marketing-info-sp,
.graphic-designing-info-sp,
.domain-hosting-info-sp { margin-top: 20px; }
.digital-marketing-info-sp > p:last-child,
.graphic-designing-info-sp > p:last-child,
.domain-hosting-info-sp > p:last-child,
.graphic-designing-services-listing > li:last-child { margin-bottom: 30px; }

  /*------- Portal Development, Mobile Application, Digital Marketing, and Graphic Designing Information Section Ends -------*/

/*------- Services Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Map Section Starts -------*/

.bg-contact-map { padding: 0; }

  /*------- Map Section Ends -------*/

  /*------- FAQ Section Starts -------*/

.faq-heading-desc { margin: 0 auto 20px; width: 100%; }
.faq-accordion-default > .faq-accordion-heading { margin-top: 20px; padding: 20px 30px 20px 20px; }
.faq-accordion-default > .faq-accordion-heading + .faq-accordion-body { padding: 20px; }
.faq-accordion-right { margin-top: 20px; }

  /*------- FAQ Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}